CAYENNE_ENABLED=true
CAYENNE_ENVIRONMENT=qa
CAYENNE_ALLOW_MUTATION=false
CAYENNE_RUN_ID=
CAYENNE_FIXTURE_NAMESPACE=cayenne
CAYENNE_CAPTURE_VIDEO=false
CAYENNE_RESET_APP=true

EXPO_PUBLIC_CAYENNE_ENABLED=true
EXPO_PUBLIC_CAYENNE_ENVIRONMENT=qa
EXPO_PUBLIC_SUPABASE_URL=
EXPO_PUBLIC_SUPABASE_ANON_KEY=

CAYENNE_TEST_EMAIL=
CAYENNE_TEST_PASSWORD=
